.direnv
.envrc
node_modules
build
.DS_Store
coverage
.psc-ide-port
.purs-repl
.spago
output
.psci_modules
.nyc_output
purescript-core/index.js.map
purescript-core/index.js
purescript-core/qr-reader-lib*.tgz